.carousel {
    height: 250px;
    border-bottom: 1px solid var(--gray3);
    margin-bottom: 40px;
    padding-bottom: 15px;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.carousel:last-child {
    margin-right: 15px;
}

.carousel .item-wrapper {
    height: calc(100% - 30px);
    display: inline-block;
    width: 170px;
    margin: 0px 15px;
    background-color: var(--gray3);
    border-radius: 5px;
    padding: 15px;
    cursor: default;
}

.carousel .item-wrapper img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
}

.carousel .item-wrapper div.name {
    font-family: 'PT Serif Caption';
    font-style: italic;
    margin-top: 10px;
    color: var(--secondaryRed);
}

.carousel .item-wrapper div.sub {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.7em;
}

/* SCREEN SIZE COMPATIBILITY */

@media only screen and (max-width: 800px) {
    .carousel {
        width: 100vw;
        margin-left: -30px;
    }
  }