/* MAIN HOME.CSS BANNER */

.home-banner {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: var(--headerHeight);
    background-color: var(--secondaryRed);
    overflow: hidden;
}

.home-banner .title {
    color: white;
    /* font-size: 30pt; */
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 60px 5% 0px 5%;

    font-family: 'PT Serif Caption';
    font-style: italic;

    opacity: 0;
    animation: elem-fade 0.3s 0.3s ease-out forwards;
}

.home-banner .subtitle {
    color: white;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;

    opacity: 0;
    animation: elem-fade 0.3s 0.5s ease-out forwards;

}

.home-banner img {
    position: absolute;
    top: 0px;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
}

.home-banner img:nth-child(even) {
    transform: rotate(180deg);
    right: 0px;
}

.home-banner .button-wrapper {
    margin-top: 40px;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;

    animation: button-wrapper-fade 1.5s 0.5s cubic-bezier(.2,.16,.09,.96) forwards;
}

.home-banner .button-wrapper a {
    text-decoration: none;
    cursor: pointer;
    color: #664e4e;
    background-color: #ffffffd1;
    padding: 2px 15px;
    border-radius: 10px;
    margin: 0px 10px;
    border: 1px solid #b9b9b9c4;
    font-weight: 300;

    opacity: 0;
    animation: elem-fade 0.5s ease-out forwards;

    transition: 0.3s ease;
}

.home-banner .button-wrapper a:nth-child(1) {
    animation-delay: 0.5s;
}

.home-banner .button-wrapper a:nth-child(2) {
    animation-delay: 0.6s;
}

.home-banner .button-wrapper a:nth-child(3) {
    animation-delay: 0.7s;
}

.home-banner .button-wrapper a:nth-child(4) {
    animation-delay: 0.8s;
}

.home-banner .button-wrapper a:nth-child(5) {
    animation-delay: 0.9s;
}

@keyframes button-wrapper-fade {
    from {
        bottom: 20px;
    }
    to {
        bottom: 30px;
    }
}

.home-banner .button-wrapper a:hover {
    color: var(--secondaryRed);
}

.home-banner .button-wrapper a i {
    margin-right: 7px;
}

/* QUICK INFO BOXES */

.quickinfo-wrapper {
    height: calc(100vh - 360px - var(--fixedHeaderHeight));
    padding: 30px;
    max-width: 1200px;
    margin: auto auto 60px auto;
}

.quickinfo-wrapper .quickinfo {
    height: 100%;
    width: calc(100% / 3 - 23px);
    display: inline-block;
    margin-left: 30px;
    background-color: var(--gray3);
    border-radius: 10px;
    cursor: pointer;

    transform: scale(1);

    transition: 0.1s ease transform;
}

.quickinfo-wrapper .quickinfo:nth-child(1) {
    margin: 0px;
}

.quickinfo-wrapper .quickinfo:hover {
    transform: scale(1.005);
}

.quickinfo-wrapper .quickinfo:active {
    transform: scale(1);
}

.quickinfo-wrapper .quickinfo .title {
    font-size: 1.5em;
    margin: 15px 20px;
    height: 75px;
    position: absolute;
    bottom: 0px;
    text-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    pointer-events: none;

    color: white;
}

.quickinfo-wrapper .quickinfo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.quickinfo-wrapper .quickinfo .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.18949586670605745) 0%, rgb(186, 186, 186) 76%, rgb(173, 173, 173) 100%);
    opacity: 0.4;
    border-radius: 10px;
    pointer-events: none;
}

.quickinfo-wrapper .quickinfo i {
    position: absolute;
    color: white;
    bottom: 20px;
    right: 15px;
    font-size: 18pt;
    pointer-events: none;
    opacity: 0;

    transition: 0.2s ease;
}

.quickinfo-wrapper .quickinfo:hover i {
    opacity: 1;
    bottom: 10px;
}

/* CONTENT BANNERS */

.banner {
    position: relative;
    height: 40vw;
    max-height: 350px;
    background-color: var(--gray3);
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner h1 {
    position: absolute;
    top: 0px;
    margin: 30px;
    font-size: 3.5em;
    color: var(--secondaryRed);
    font-weight: 300;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'PT Serif Caption';
    font-style: italic;
}

.banner .button {
    position: absolute;
    bottom: 35px;
    right: 50px;
    color: #664e4e;
    background-color: #dcdcdcba;
    padding: 2px 15px;
    border-radius: 10px;
    border: 1px solid #b9b9b9c4;
    font-weight: 300;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.banner .button:hover {
    color: var(--secondaryRed);
    border-color: var(--secondaryRed);
}

p {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    text-align: justify;
}

/* HEADER DROPDOWN SPECIAL HOME.CSS SETTINGS */

#header-dropdown {
    height: 300px;
}

#header-dropdown div.group .link-wrapper {
    top: 80px;
    left: 270px;
}

/* FOOTER SPECIAL HOME.CSS SETTINGS */

footer {
    margin-top: 150px;
}

/* SCREEN SIZE COMPATIBILITY */

@media only screen and (max-width: 800px) {
    p {
        padding: 0px 10px;
        width: calc(100% - 20px);
    }

    .banner h1 {
        font-size: 7vw;
    }
}