/* MAIN HOME.CSS BANNER */

.home-banner {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: var(--headerHeight);
    background-color: var(--secondaryRed);
    overflow: hidden;
}

.home-banner .title {
    color: white;
    /* font-size: 30pt; */
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 60px 5% 0px 5%;

    font-family: 'PT Serif Caption';
    font-style: italic;

    -webkit-transition: 0.3s ease font-size;
    -o-transition: 0.3s ease font-size;
    transition: 0.3s ease font-size;

    opacity: 0;
    -webkit-animation: elem-fade 0.3s 0.3s ease-out forwards;
            animation: elem-fade 0.3s 0.3s ease-out forwards;
}

.home-banner .subtitle {
    color: white;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;

    opacity: 0;
    -webkit-animation: elem-fade 0.3s 0.5s ease-out forwards;
            animation: elem-fade 0.3s 0.5s ease-out forwards;

}

.home-banner img {
    position: absolute;
    top: 0px;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
}

.home-banner img:nth-child(even) {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    right: 0px;
}

.home-banner .button-wrapper {
    margin-top: 40px;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;

    -webkit-animation: button-wrapper-fade 1.5s 0.5s cubic-bezier(.2,.16,.09,.96) forwards;

            animation: button-wrapper-fade 1.5s 0.5s cubic-bezier(.2,.16,.09,.96) forwards;
}

.home-banner .button-wrapper a {
    text-decoration: none;
    cursor: pointer;
    color: #664e4e;
    background-color: #ffffffd1;
    padding: 2px 15px;
    border-radius: 10px;
    margin: 0px 10px;
    border: 1px solid #b9b9b9c4;
    font-weight: 300;

    opacity: 0;
    -webkit-animation: elem-fade 0.5s ease-out forwards;
            animation: elem-fade 0.5s ease-out forwards;

    -webkit-transition: 0.3s ease;

    -o-transition: 0.3s ease;

    transition: 0.3s ease;
}

.home-banner .button-wrapper a:nth-child(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.home-banner .button-wrapper a:nth-child(2) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

.home-banner .button-wrapper a:nth-child(3) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

.home-banner .button-wrapper a:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

.home-banner .button-wrapper a:nth-child(5) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}

@-webkit-keyframes button-wrapper-fade {
    from {
        bottom: 20px;
    }
    to {
        bottom: 30px;
    }
}

@keyframes button-wrapper-fade {
    from {
        bottom: 20px;
    }
    to {
        bottom: 30px;
    }
}

.home-banner .button-wrapper a:hover {
    color: var(--secondaryRed);
}

.home-banner .button-wrapper a i {
    margin-right: 7px;
}

/* QUICK INFO BOXES */

.quickinfo-wrapper {
    height: calc(100vh - 365px - var(--fixedHeaderHeight));
    padding: 30px;
    max-width: 1200px;
    margin: auto;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 76%, rgba(219,219,219,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 76%, rgba(219,219,219,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 76%, rgba(219,219,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dbdbdb",GradientType=1);
    border-radius: 10px;
}

.quickinfo-wrapper .quickinfo {
    height: 100%;
    width: calc(100% / 3 - 23px);
    display: inline-block;
    margin-left: 30px;
    background-color: var(--gray3);
    border-radius: 10px;
    cursor: pointer;

    -webkit-transform: scale(1);

        -ms-transform: scale(1);

            transform: scale(1);

    -webkit-transition: 0.1s ease transform;

    -o-transition: 0.1s ease transform;

    transition: 0.1s ease transform;
}

.quickinfo-wrapper .quickinfo:nth-child(1) {
    margin: 0px;
}

.quickinfo-wrapper .quickinfo:hover {
    -webkit-transform: scale(1.005);
        -ms-transform: scale(1.005);
            transform: scale(1.005);
}

.quickinfo-wrapper .quickinfo:active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.quickinfo-wrapper .quickinfo .title {
    font-size: 1.5em;
    margin: 15px 20px;
    height: 75px;
    position: absolute;
    bottom: 0px;
    text-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    pointer-events: none;

    color: white;
}

.quickinfo-wrapper .quickinfo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.quickinfo-wrapper .quickinfo .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.18949586670605745)), color-stop(76%, rgb(186, 186, 186)), to(rgb(173, 173, 173)));
    background: -o-linear-gradient(top, rgba(255,255,255,0.18949586670605745) 0%, rgb(186, 186, 186) 76%, rgb(173, 173, 173) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0.18949586670605745) 0%, rgb(186, 186, 186) 76%, rgb(173, 173, 173) 100%);
    opacity: 0.4;
    border-radius: 10px;
    pointer-events: none;
}

.quickinfo-wrapper .quickinfo i {
    position: absolute;
    color: white;
    bottom: 20px;
    right: 15px;
    font-size: 18pt;
    pointer-events: none;
    opacity: 0;

    -webkit-transition: 0.2s ease;

    -o-transition: 0.2s ease;

    transition: 0.2s ease;
}

.quickinfo-wrapper .quickinfo:hover i {
    opacity: 1;
    bottom: 10px;
}

/* CONTENT BANNERS AND ELEMENTS */

.banner {
    position: relative;
    height: 40vw;
    max-height: 350px;
    background-color: var(--gray3);

    width: 80%;
    margin: 80px auto auto auto;
    border-radius: 16px;
    border: 1px solid var(--gray3);
}

.banner img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.banner h1 {
    position: absolute;
    top: 0px;
    margin: -20px;
    font-size: 3.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    background-color: var(--secondaryRed);
    border-radius: 13px;
    padding: 10px 30px;
    font-weight: 300;
}

.banner .button {
    position: absolute;
    bottom: -14px;
    right: -14px;
    color: var(--secondaryRed);
    background-color: white;
    padding: 5px 20px;
    border-radius: 13px;
    font-weight: 400;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
    letter-spacing: 1px;
    border: 4px solid var(--secondaryRed);
}

.banner .button:hover {
    color: white;
    background-color: var(--secondaryRed);
}

p, ul {
    width: calc(100% - 60px);
    max-width: 1000px;
    margin: 50px auto;
    text-align: justify;
    padding: 0px 30px;
}

.centered-button {
    margin: auto;
    padding: 10px 20px;
    background-color: var(--secondaryRed);
    color: white;
    font-family: 'PT Serif Caption';
    font-style: italic;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15pt;
    width: fit-content;
    text-align: center;
}

/* HEADER DROPDOWN SPECIAL HOME.CSS SETTINGS */

#header-dropdown {
    height: 300px;
}

#header-dropdown div.group .link-wrapper {
    top: 80px;
    left: 270px;
}

/* FOOTER SPECIAL HOME.CSS SETTINGS */

footer {
    margin-top: 150px;
}

/* SCREEN SIZE COMPATIBILITY */

@media only screen and (max-width: 800px) {
    p, ul {
        padding: 0px 10px;
        width: calc(100% - 20px);
    }

    .banner {
        width: 100%;
        border: none;
        border-radius: 0px;
    }

    .banner img {
        border-radius: 0px;
    }

    .banner .button {
        right: 20px;
        bottom: 5px;
    }

    .banner h1 {
        font-size: 7vw;
    }

    .centered-button {
        padding: 20px;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .quickinfo-wrapper {
        display: none;
    }

    .home-banner {
        margin-bottom: 50px;
        height: 200px;
    }

    .home-banner img:nth-child(even) {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .home-banner .title {
        font-size: 30pt;
    }
}