:root {
    --primaryRed: #bb212d;
    --secondaryRed: #922b33;
    --primaryYellow: #f8c603;
    --gray1: #e7e7e7;
    --gray2: #343434;
    --gray3: #efefef;

    --headerHeight: 80px; /* will be changed programatically */
    --fixedHeaderHeight: 80px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: var(--headerHeight);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--gray1);
    z-index: 999;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #fffc;

    transition: 0.3s ease height;
}

header .link-wrapper {
    display: inline-block;
    height: 100%;
    width: 240px;
    cursor: pointer;
    transition: ease-out 0.1s background-color;
}

header .link-wrapper img {
    height: 100%;
}

header .link-wrapper .title {
    font-weight: bold;
    display: inline-block;
    position: absolute;
    font-size: 18pt;
    top: calc(50% - 18px);
}

header .right-panel {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    margin-right: 20px;
}

header .right-panel div {
    padding: 0px 15px;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: ease-out 0.1s background-color;
}

header .right-panel div.dropdown {
    cursor: default;
}

header .right-panel div a {
    text-decoration: none;
    color: var(--gray2);
    position: relative;
    top: calc(50% - 12px);
    pointer-events: none;
}

header .right-panel div a i {
    margin-right: 10px;
    opacity: 0.5;
}

header .right-panel div:hover, header .link-wrapper:hover {
    background-color: #b5b5b52c;
}

header .right-panel div:active, header .link-wrapper:hover {
    background-color: #8585852c;
}

/* HEADER DROPDOWN MENU */

#header-dropdown {
    width: 100%;
    height: 260px;
    position: fixed;
    background-color: white;
    z-index: 998;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    top: var(--headerHeight);
    opacity: 0;
    pointer-events: none;

    /* animation: header-dropdown-fadein 0.4s ease-out forwards; */
}

#header-dropdown.fadein {
    animation: header-dropdown-fadein 0.2s ease-out forwards;
}

@keyframes header-dropdown-fadein {
    from {
        top: calc(var(--headerHeight) - 10px);
        opacity: 0;
    }
    to {
        top: var(--headerHeight);
        opacity: 1;
    }
}

#header-dropdown .title-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    background-color: var(--secondaryRed);
    width: 100%;
}

#header-dropdown div.group {
    position: absolute;
    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0;
}

#header-dropdown div.group.animin-right {
    animation: hd-animin-right 0.2s 0.1s ease-in forwards;
}

#header-dropdown div.group.animin-left {
    animation: hd-animin-left 0.2s 0.1s ease-in forwards;
}

@keyframes hd-animin-right {
    from {
        opacity: 0;
        left: -10px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes hd-animin-left {
    from {
        opacity: 0;
        left: 10px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

#header-dropdown div.group.animout-right {
    animation: hd-animout-right 0.2s ease-in forwards;
}

#header-dropdown div.group.animout-left {
    animation: hd-animout-left 0.2s ease-in forwards;
}

@keyframes hd-animout-right {
    from {
        opacity: 1;
        left: 0px;
    }
    to {
        opacity: 0;
        left: -10px;
    }
}

@keyframes hd-animout-left {
    from {
        opacity: 1;
        left: 0px;
    }
    to {
        opacity: 0;
        left: 10px;
    }
}

#header-dropdown div.group .title {
    position: absolute;
    font-family: 'PT Serif Caption';
    font-style: italic;
    font-size: 18pt;
    color: white;
    margin: 13px 0px 0px 20px;
}

#header-dropdown div.group img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.2;
    height: calc(100% - 60px);

    transform: scaleX(-1);
}

#header-dropdown div.group .link-wrapper {
    position: absolute;
    height: calc(100% - 100px);
    top: 60px;
    left: 240px;
}

#header-dropdown div.group .link-wrapper li {
    list-style: none;
    padding-top: 20px;
    cursor: pointer;
    position: relative;
    width: fit-content;

    transition: 0.1s ease-out;
}

#header-dropdown div.group .link-wrapper li::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 0.1em;
    background-color: var(--secondaryRed);

    transition: 0.2s;
  }

#header-dropdown div.group .link-wrapper li:hover {
    color: var(--secondaryRed);
}

#header-dropdown div.group .link-wrapper li:hover::after {
    opacity: 1;
    width: 100%;
}

/* NAVIGATION VIEW: SHORT ANIMATION WHEN NAVIGATING */

#navigation-view {
    position: fixed;
    background-color: white;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    z-index: 1000;

    pointer-events: none;
    opacity: 0;

    transition: 0.2s ease-out;
}

#navigation-view img {
    position: absolute;
    height: 15vw;
    top: calc(50% - 7.5vw);
    left: calc(50% - 7.5vw);
    pointer-events: none;
    transition: 0.3s ease-in;

    opacity: 0;
}

/* FOOTER */

footer {
    position: relative;
    background-color: var(--gray2);
    height: 220px;
    padding: 40px 20px;
}

footer .side-img {
    height: 220px;
}

footer .back-img {
    position: absolute;
    height: 300px;
    top: 0px;
    right: 0px;
    opacity: 0.03;
    pointer-events: none;
}

footer .copyright {
    color: #8d8d8d;
    font-size: 8pt;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    cursor: pointer;
    height: 20px;
    padding: 10px 0px;

    transition: 0.2s ease-out color;
}

footer .link-container {
    height: 80px;
    width: calc(100% - 240px);
    float: right;
    margin: 70px 0px 70px 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
}

footer .link-container li {
    color: white;
    font-size: 10pt;
    height: 20px;
    width: 150px;
    cursor: pointer;
    list-style: circle;

    transition: 0.2s ease;
}

footer .link-container li:hover {
    text-decoration: underline;
    letter-spacing: 0.2px;
    list-style-type: disc;
}

footer .copyright:hover {
    color: white;
}

/* GLOBAL ANIMATIONS */

@keyframes elem-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}